<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Visualização de Dados</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    
    <div>
        <img src="data:image/png;base64,{{ plot_data1 }}" alt="Gráfico">
    </div>
    
    {% if descricao %}
    <p>{{ descricao }}</p>
    {% endif %}

    <div>
        <img src="data:image/png;base64,{{ plot_data2 }}" alt="Gráfico">
    </div>
    
    {% if descricao %}
    <p>{{ descricao }}</p>
    {% endif %}

    <div>
        <img src="data:image/png;base64,{{ plot_data3 }}" alt="Gráfico">
    </div>
    
    {% if descricao %}
    <p>{{ descricao }}</p>
    {% endif %}

    <div>
        <img src="data:image/png;base64,{{ plot_data4 }}" alt="Gráfico">
    </div>
    
    {% if descricao %}
    <p>{{ descricao }}</p>
    {% endif %}
</body>
</html>
